include README.md
include LICENSE
include requirements.txt
include pyproject.toml
include setup.py
include py.typed
include .flake8
include .editorconfig
include Makefile

recursive-include statling/templates *.j2
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
